:host ::ng-deep .p-menuitem-link {
    background-color: #0f172a !important;
}
:host ::ng-deep .p-tabmenu{
    background-color: #0f172a;
}
:host ::ng-deep .p-tabmenu-nav {
    background-color: #0f172a;
}
:host ::ng-deep .p-tabmenuitem {
    background-color: #0f172a;
}
:host ::ng-deep .p-menuitem-text {
    color: white;
}
:host ::ng-deep .p-button {
    background-color: #0f172a;
}


